@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-500: 163 163 163;
    --dark-400: 69 69 69;
    --dark-500: 31 31 31;
  }
}

.grain {
  background-image: url("../public/grain.png");
  /* background-size: 30ex; */
  background-size: 40ex;
  background-repeat: repeat;
}

.grain-dark {
  background-image: url("../public/grain-black.png");
  background-size: 50ex;
  background-repeat: repeat;
}

h1 {
  line-height: 100%;
}

h2, h3 {
  line-height: 120%;
}

.hero-screen {
  height: calc(520px + 10vh);
}

.inline {
  display: inline-block;
}